
.main{
background-color: lightblue;
ba
border: 2px solid black;
}

img{
   height: 550px;
  width: 500px;
border-radius: 20%;
margin-left: 25em;
}
mountain view{
  height: 650px;
  width: 550px;
}
.toronto{
  margin-left: 2em;
  width: 300px;
  word-break: keep-all;
}
.travles{

}
.long{
margin-left: 2em;
  width: 400px;
  word-break: keep-all;
}
.bo{
margin-left: 2em;
  width: 390px;
  word-break: keep-all;
}
.kaap{
  height: 250px;
  width: 250px;
  float: right;
  margin-left: 2em;
}
.the-cas{
  width: 390px;
  word-break: keep-all;
  margin-left: 2em;
}
.arab{
  margin-left: 2em;
  width: 390px;
}
/*.mo
untain{
  height: 550px;
  width: 550px;
}
.Bo-kaap{
  height: 350px;
  width: 350px;
}
.the-Castle{
  height: 320px;
  width: 280px;
}
.long-street{
  height: 350px;
  width: 350px;
}
*/
