.main{
background-color: white;
margin-left: 1em;
border: 2px solid black;
}
.img0{
  margin: 10%;
  width: 50%;
  height: 35%;
  border-radius: 100%;

}
.travels{
  background-color: white;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width:25em/auto;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 1%;
  border-color: black;
  border-style: solid;
}
.img2{
  padding-left: 1em;
  padding-right: 1em;
  width: 35%;
  height: 35%;
  border-radius: 100%;
}
.Language{
  margin: 2em;
  padding: 2em;
  width:25em/auto;
  border-radius: 1%;
  background-color: white;
  border-color: black;
  border-style: solid;
}
.long-street{
  border-radius: 100%;
  width: 25%;
  height: 25%;
}

.long{float: left;
  border-color: black;
  border-style:  ridge;
  background-color: white;
  border-radius: 1%;
  width: 360px;
  height: 40%;
  margin-right:1em;
  padding: 1em;
  }
.img3{
float: left;
  padding-left: :1em;
  padding-right:1em;
  border-radius: 100%;
  width: 35%;
  height: 35%;

}
.bo-ka{width: 85%
}
.longtext{
  width: 85%;
}
.Castle-info{
width: 85%;
}
.bo{
  float: left;
  border-color: black;
  border-style:  ridge;
  background-color: white;
  border-radius: 1%;
  width: 360px;
  height: 40%;
  padding: 1em;
  }
.the{
  float: left;
  border-color: black;
  border-style:  ridge;
  background-color: white;
  border-radius: 1%;
  width: 360px;
  height: 40%;
padding: 1em;
margin-left: 0.5em;}
.img4{

  padding-left: 2em;
  padding-right: 2em;
  width: 35%;
height: 35%;
border-radius: 100%;
}
